---
layout: layouts/base.njk
permalink: /about/
---
<h2 class="hey__charli__heading">Hiya! I'm Charli</h2>
<p>I'm a horror enthusiast, bookworm, metalhead, blogger, and web developer living in beautiful Colorado.</p>
<p>I've been a voracious reader since my parents read Little Golden Books to me as a child. In fact, that's how I learned to read - I started memorizing my favorite stories, then started connecting the words I remembered with the words on the page. Imagine my parents' surprise when I sat on my dad's lap and pointed to words in the newspaper and told him what they were at the age of two!</p>
<p>When it comes to reading my favorite genres are horror, mystery/thriller/suspense, science fiction, and fantasy. I read romance on occasion, but I'm pretty picky when it comes to my romance novels. I like both adult and YA age group books. I'm not big on middle grade but will occasionally read it. Some of my favorite authors include Stephen King, Holly Black, and Amy Kaybach.</p>
<h3>Fun Facts</h3>
<ul class="bio__list">
    <li>Has had 6 foot surgeries - 3 on each foot.</li>
    <li>Had heart surgery at 15 months old.</li>
    <li>Had to have surgery to stop acid reflux/GERD.</li>
    <li>Has trouble differentiating between some shades of blue &amp; green.</li>
    <li>Addicted to Diet Pepsi.</li>
    <li>Generally dislikes Coke products with the exception of Vanilla Coke</li>
    <li>Horror doesn't scare me, but elevators terrify me.</li>
    <li>Has performed in talent shows as a singer.</li>
    <li>Has been vegetarian since October 2016.</li>
</ul>

