<!-- _includes/partials/recently-played.html -->
 {% set recentlyPlayed = lastfm.recenttracks.track %} 
 
 {% if recentlyPlayed.length %} 
 <ul class="recently-played"> 
    {% for item in recentlyPlayed %} 
    <li class="recently-played__track"> 
        <div class="listen_to_me">
        <a href="{{ item.url }}" class="track__url"> 
            <div class="track__media"> 
                <img class="album__cover" width="50%" height="50%" src="{{ item.image[3]['#text'] }}" alt="Album artwork for {{ item.name }} by {{ item.artist['#text'] }}" loading="lazy" /> 
            </div> 
            <span class="track__name">{{ item.name }}</span><br>
            <span class="track__artist">{{ item.artist['#text'] }}</span> 
        </a> 
    </div>
    </li> 
    {% endfor %} 
</ul> 
{% endif %}