<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Book Reviews">
        <title>Charli's Book Box</title>
        <link rel="stylesheet" href="/static/css/reset.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="https://kit.fontawesome.com/d653c365e1.js" crossorigin="anonymous" defer></script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    </head>
    <body>
      <div class="wrapper">
          <nav role="navigation" class="topnav">
            <div class="logo">Charli's Book Box</div>
            <ul class="nav-links">
              <!-- Using CHECKBOX HACK -->
              <input type="checkbox" id="checkbox__toggle">
              <label for="checkbox__toggle" class="hamburger">&#9776;</label>
            <div class="menu">
              <li class="menu__item"><a href="/">Home</a></li>
              <li class="menu__item"><a href="/about/">About</a></li>
            </div>
          </ul>
        </nav>
        <main class="content__main">
        <section class="main">
        {{ content | safe }}
        </section>
        <aside role="complementary" class="sidebar">
          <div class="logo__top">Charli's Book Box</div>
          <hr class="separator" noshade>
          <article class="author__bio">
            <img class="author__photo" src="/static/images/charli.webp" height="200" width="200" alt="Photo of Charli">
          <p class="author__info">I'm Charli. I'm a BYU-I student, bookworm, metalhead, horror lover, and web developer. <a href="/about/">More...</a></p>
            </article>
                <h2 class="socia__intro">Social</h2>
            <article class="socia__links">
              <a href="https://booktoot.club/@charlisbookbox"><i class="fab fa-mastodon"></i></a>
            <a href="https://twitter.com/charlisbookbox"><i class="fab fa-twitter-square"></i></a>
             <a href="https://facebook.com/charlisbookbox"><i class="fab fa-facebook-square"></i></a>
              <a href="https://instagram.com/charlisbookbox"><i class="fab fa-instagram"></i></a>
             <a href="https://linkedin.com/in/charitygamble"><i class="fab fa-linkedin"></i></a>
              <a href="https://pinterest.com/charlisbookbox"><i class="fab fa-pinterest-square"></i></a>
               <a href="https://charlisbookbox.tumblr.com"><i class="fab fa-tumblr-square"></i></a>
            </article>
            <h2 class="author__intro">Navigation</h2>
            <nav class="side__nav">
              <ul class="nav-links2">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
              </ul>
            </nav>
            <h2 class="author__intro">Currently Reading</h2>
            <a href="https://bookhype.com/book/show/96037afa-b5ad-4b4a-8b57-a86aeb0099db/five-survive"><img class="currently__reading" src="/static/images/covers/fivesurvive.webp" height="200" width="132" alt="Cover for Five Survive by Holly Jackson"></a>
            <h2 class="listen__up">Recently Listened</h2>
            {% include "partials/recently-played.html" %}
        </aside>
        </main>
        <footer role="contentinfo" class="footer">
        &copy; 2022 Charity Gamble<br>
        Built with <a href="https://11ty.dev">11ty</a> &amp; <a href="https://netlifycms.org">Netlify CMS</a>. 
        Hosted on <a href="https://netlify.com">Netlify</a>.<br>
        
        </footer>
        </div>
        <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
    </body>
</html>   